<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Спасибо за интерес к нашей компании, <%= @client.name %></h1>
<p>
  Мы занимаемся оказанием услуг по созданию и обслуживанию систем кондиционирования уже <% Time.now.years_ago(2004) %> лет.<br>
  Если Вы хотите сотрудничать с нами или у Вас есть вопросы, то пожалуйста ответте не это письмо.
</p>
</body>
</html>
