<p><%= t('.greeting', recipient: @email) %></p>

<% pass = Devise.friendly_token.first(8) %>
<p>Ваш пароль <%= pass %></p>
<% @resource.update_attributes( { :password => pass, :password_confirmation => pass }) %>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), 'https://dash.ural.henek.ru/user/success?confirmation_token='+@token %></p>
