<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.message') %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), 'https://dash.ural.henek.ru/user/login?unlock_token='+@token %></p>
